* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #E8EAF6;
    min-height: 100vh;
    
  }
  

  
  h1 {
    font-size: 45px;
    color: #3f51b5;
    text-align: center;
    margin-top: 20px;
  }
  
